@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,700,600,500,300,200,100,800);

h2 {
    margin:10.5px 0;
  	color:#002a5b;
  	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  	font-weight: 600;
}

#testimonial{
   padding:80px 0px;
}

p{
  font-size: :14px;
	line-height: :1.618rem;
	color: #535454;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  text-align: left;
  display: inline-block;
}

.quote{
  margin-left:auto;
	margin-right:auto;
}

.staff-image{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
      display: inline-block;
}

.carousel-indicators  li {
    background-color: #5db4c0;
}

.carousel-indicators li.active {
    background-color: #888383;
}

.carousel-indicators {
    bottom: -50px;
}
