h2, h3, h4, h5, h6{
	margin:10.5px 0;
	color:#002a5b;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 600;
}

#wrap {
    z-index: 1;
    position: relative;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

p{
  font-size: 14px;
	line-height: 1.5em;
	color: #535454;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  text-align: left;
}

.quote{
  margin-left:auto;
	margin-right:auto;
}

.staff-image{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
}

.carousel-indicators  li {
    background-color: #5db4c0;
}

.carousel-indicators li.active {
    background-color: #888383;
}

.carousel-indicators {
    bottom: -100px;
}
